.app
    max-width 960px
    margin 0 auto
    #myListSaved
        .pure-menu-item
            margin 5px 0
        .listElementContainer
            .action
                display none
                span
                    margin 0 5px
            &:hover
                .action
                    display block